* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: hsl(27, 66%, 92%);
}

.container1{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 80px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#balance{
    align-self: start;
    align-items: center;
    color: hsl(27, 66%, 92%);

    #bal{
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 5px;
    }

    #amt{
        font-family: "DM Sans", sans-serif;
        font-weight: 700; 
        font-size: 18px; 
    }
}


#logo{
    align-self: end;
    align-items: center;
    

    svg{
        height: 35px;
    }
}

.container2{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 30px;

    #spending{
        align-self: start;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: hsl(25, 47%, 15%);
        
    }


}
#days_ {
    display: flex;
    height: 300px;
    /* padding: 20px; */
    justify-content: space-between;
    align-items: flex-end;
    align-self: start;
    
}

#days_ .bar{
    width: 40px;
    background-color: hsl(10, 79%, 65%);
    transition: height 0.3s ease;
    margin-bottom: 30px; 
    border-radius: 3px;
}

.bar:nth-child(3){
    background-color: hsl(186, 34%, 60%);
}
#days_ .days {
   /* margin-bottom: 50px; 
   margin-left: 50px; */
   display: flex;
   align-items: flex-start;
   font-family: "DM Sans", sans-serif;
   font-weight: 400;
   font-size: 10px;
   color: hsl(28, 10%, 53%);


   
}
.container3{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.con{
    display: flex;
    justify-content: space-between;
    

    .left{
        align-self: start;
    }

    .right{
        align-self: end;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}